body {
    background-color: #1b4332;
}

.App {
    display: flex;
    flex-direction: column;
    width:500px;
    height:500px;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    background-color: #081c15;
    border-radius: 5px;
    padding-top: 50px;
}

.app--text {
    color:white;
    padding-left:30px;
}

.app--text > p {
    font-weight: 100;
}

span {
    color:#40916C;
}

.button-div{
    margin-top:15px;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #40916C;;
    width:200px;
    height:40px;
    color:white;
    border-radius: 5px;
    padding:5px 10px;
    font-size: 16px;
}

hr {
    margin-top: 30px;
    width: 90%;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #b7d0e2;
    border: 0 none;
}

.password-div {
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap:10px;
    padding-left: 20px;
}

.password{
    color:#4ad66d;
    border-radius: 5px;
    height:40px;
    width:210px;
    text-align: center;
    padding-top: 10px;
    background-color: #343434;
    cursor:pointer;
}

.input-div{
    padding-left: 30px;
    color:white;
    font-weight: 100;
}

input {
    margin-left: 20px;
}